
# Pycharm
.idea

# VSCode
.vscode

.pyz

# Pyinstaller
main.spec
server.spec
build\

# huge files
assets/images/cut_scenes/briffing_war.mp4
assets/images/animated_background/city_kazan_gitign.mp4
Splendid_Edition_2.exe